.header {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;

  h1 {
    margin: 0;
  }

  div {
    font-size: 20px;
  }
}

.hourlyWeather {
  display: flex;
  width: 576px;
  box-shadow: 0 2px 17px 1px #ffffbb;
  transition: box-shadow .5s ease-in-out;
  border-radius: 35px;
  padding: 15px;

  &:hover {
    transition: box-shadow .5s ease-in-out;
    box-shadow: 0 2px 7px 1px #ffffbb;
  }

  .hourlyCard {
    padding: 15px;
    width: 100%;

    .date {
      font-weight: 300;
      font-size: 20px;
      color: #ffffbb;
      padding-bottom: 10px;
      position: relative;
      top: -5px;
      border-bottom: #ffffbb 1px solid;
    }

    .degrees {
      margin-top: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      div {
        font-size: 70px;

        span {
          font-size: 20px;
          position: relative;
          top: -35px;
          left: 0;
        }
      }
    }

    .weatherCondition {
      font-size: 22px;
      font-weight: 300;
      margin-top: 25px;

      &:first-letter {
        text-transform: uppercase;
      }
    }

    .feelsLike {
      font-size: 22px;
      font-weight: 300;
      margin-bottom: 10px;

      span {
        color: #ffffbb;
        font-weight: 300;
        border-bottom: #ffffbb 1px solid;
      }
    }
  }
}