.App {
  text-align: center;
}

.appHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;

  .appWrapper {
    width: 535px;
    height: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    box-shadow: 0 2px 37px 1px #ffffbb;
    transition: box-shadow .5s ease-in-out;

    &:hover {
      transition: box-shadow .5s ease-in-out;
      box-shadow: 0 2px 17px 1px #ffffbb;
    }


    .appInner {
      transform: translateY(-10%);
      min-width: 300px;

      .weatherCondition {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .temperature {
          font-size: 75px;

          span {
            position: relative;
            font-size: 22px;
            top: -38px;
            left: 0px;
          }
        }
      }

      .middle {
        margin: 35px 0 50px;
        font-size: 18px;
        font-weight: 300;

        .description {
          text-transform: capitalize;
        }
      }

      a {
        text-decoration: none;

        span {
          font-weight: 300;
          color: #ffb;
          text-decoration: none;
          padding-bottom: 3px;
          margin-top: 15px;
          font-size: 20px;
          border-bottom: #ffb 1px solid;
        }
      }
    }
  }
}