* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;600;700;900&display=swap');

body {
  margin: 0;
  //font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Inter',
  //sans-serif;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  //additional code
  background: #498CEC;
  min-width: 100vw;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.swiper-button-next, .swiper-button-prev {
  color: white !important;
  width: 60px !important;
  height: 60px !important;
  background: rgba(255, 255, 255, 0.42) !important;
  border-radius: 50%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 33px !important;
}

.next-button, .prev-button {
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}

.next-button img, .prev-button img {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 21px;
  height: 36px;
}

.prev-button img {
  left: 45%;
}

.next-button img {
  left: 55%;
}

.swiper-button-disabled {
  background: rgba(255, 255, 255, 0.42);
}

.prev-button {
  left: -13%;
  right: auto;
}

.next-button {
  right: -13%;
  left: auto;
}
